img {
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
}

body {
  background-color: beige;
}


nav {
  display: flex;

  justify-content: space-around;

  align-items: center;

  max-height: 12vh;

  background-color: teal;

  outline-style: solid;

  /* font-family: "Montserrat", sans-serif; */
}

.heading {

  color: black;

  letter-spacing: 3px;

  font-size: 30px;

}

.nav-links {

  display: flex;

  justify-content: space-around;

  width: 30%;

}

.nav-links li {

  list-style: none;

}

.nav-links a {

  color: black;

  text-decoration: none;

  letter-spacing: 1px;

  font-weight: bold;

  font-size: 18px;

  padding: 14px 16px;

}

.nav-links a:hover:not(.active) {

  background-color: lightseagreen;

}

.nav-links li a.active {

  background-color: #4caf50;

}