{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'classified_ads/style.css' %}">
{% endblock css %}

{% block header %}
<nav>
  <div class="heading">
    <h1>Eric's Classified Ad Site</h1>
  </div>

  <ul class="nav-links">

    <li><a href="{% url 'classified_ads:index'%}">Home</a></li>

  </ul>

  {% block login_status %}
  <div class="login-status">
    {% if user.is_authenticated %}

    Welcome, {{ user.username }}. Thanks for logging in.
    <a href="{% url 'classified_ads:logout'%}">Logout</a>

    {% else %}

    Welcome, new user. Please log in or register.
    <a href="{% url 'classified_ads:login_register'%}">Login/Register</a>
    {% endif %}
  </div>
  {% endblock login_status %}

</nav>
{% endblock header %}

{% block content %}
Your content here!!!
{% endblock content %}