<h1>{{ ad.ad_text }}</h1>
<ul>
  {% for comment in ad.comment_set.all %}
  <li>{{ comment.comment_text }}
    Posted on: {{ comment.date_posted }} by {{ comment.user }}</li>
  {% endfor %}
</ul>

<form action="{% url 'classified_ads:comment' ad.id %}" method="post">
  {% csrf_token %}
  <label for="comment">Comment:</label><br>
  <input type="text" id="comment" name="comment"><br>
  <label for="user">User:</label><br>
  <input type="text" id="user" name="user">
  <br>
  <input type="submit" value="comment">
</form>