<form action="{% url 'classified_ads:index'%}">
  <input type="submit" value="Back to home">
</form>

<h1>{{ ad.text }}</h1>
{% load static %}
<img src="{% static 'classified_ads'%}{{ad.image.url}}">
<ul>
  {% for comment in ad.comment_set.all %}
  <li>{{ comment.text }}
    Posted on: {{ comment.date_posted }} by {{ comment.user.username }}</li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
<p>Welcome, new user. Please log in.</p>
{% endif %}

{% if user.is_authenticated %}

<form action=" {% url 'classified_ads:comment' ad.id %}" method="post">
  {% csrf_token %}
  <label for="comment">Comment:</label><br>
  <input type="text" id="comment" name="comment"><br>
  <br>
  <input type="submit" value="Post comment">
</form>
{% else %}
You cannot post comments without logging in.
{% endif %}