{% extends "classified_ads/base.html" %}

{% block page_title %}
{{ ad.text }}
{% endblock page_title %}

{% block content %}



- Posted by {{ad.user.username}} on {{ad.date_posted}}
<br>

{% if ad.image %}
{% load static %}
<img src="{% static 'classified_ads'%}{{ad.image.url}}">
{% endif %}

<hr>
<h2>Comments</h2>
<ul>
  {% for comment in ad.comment_set.all %}
  <li>{{ comment.text }}
    Posted on: {{ comment.date_posted }} by {{ comment.user.username }}</li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}

<form action=" {% url 'classified_ads:detail' ad.id %}" method="post">
  {% csrf_token %}
  <b>Post a comment</b>
  {{comment_form.as_div}}
  <input type="submit" value="Post">
</form>

{% else %}
You cannot post comments without logging in.
{% endif %}

{% endblock content %}