{% load static %}

<link rel="stylesheet" href="{% static 'classified_ads/style.css' %}">

<h1>Eric's Classified Ad Site</h1>

{% if latest_ads_list %}
<ul>
  {% for ad in latest_ads_list %}
  <li><a href="{% url 'classified_ads:detail' ad.id %}">{{ ad.text }}</a>
    Posted on: {{ ad.date_posted }} by {{ ad.user.username }}</li>
  {% endfor %}
</ul>
{% else %}
<p>No ads have been posted.</p>
{% endif %}

{% if user.is_authenticated %}

<form action="{% url 'classified_ads:post'%}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <select name="ad_type" id="ad_type">

    <option value="Buy">Buy</option>
    <option value="Sell">Sell</option>
  </select>
  <br>
  <label for="post">Post:</label><br>
  <input type="text" id="post" name="post">
  <br>
  <label for="image">Upload an image:</label>
  <input type="file" id="image" name="image">
  <br>
  <input type="submit" value="Post ad">
</form>

{% else %}
You cannot post ads without logging in.
{% endif %}

{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
<br>
<form action="{% url 'classified_ads:logout'%}">
  <input type="submit" value="Logout">
</form>
{% else %}
<p>Welcome, new user. Please log in or register.</p>
<form action="{% url 'classified_ads:login_register'%}">
  <input type="submit" value="Login/Register">
</form>
{% endif %}