{% if latest_ads_list %}
<ul>
  {% for ad in latest_ads_list %}
  <li><a href="{% url 'classified_ads:detail' ad.id %}">{{ ad.ad_text }}</a>
    Posted on: {{ ad.date_posted }} by {{ ad.user }}</li>
  {% endfor %}
</ul>
{% else %}
<p>No ads have been posted.</p>
{% endif %}

<form action="{% url 'classified_ads:post'%}" method="post">
  {% csrf_token %}
  <select name="ad_type" id="ad_type">
    {# I would like to get ad_types from models in the future instead of hardcoding
    for correctness #}
    <option value="Buy">Buy</option>
    <option value="Sell">Sell</option>
  </select>
  <br>
  <label for="post">Post:</label><br>
  <input type="text" id="post" name="post"><br>
  <label for="user">User:</label><br>
  <input type="text" id="user" name="user">
  <br>
  <input type="submit" value="Post ad">
</form>

<form action="{% url 'classified_ads:login_register'%}">
  <input type="submit" value="Login/Register">
</form>