{% extends "classified_ads/base.html" %}

{% block page_title %}
Recent Ad Listings
{% endblock page_title %}

{% block content %}


{% load static %}
<p id="demo">Date will appear here</p>
<script src="{% static 'classified_ads/test_script.js'}"></script>
<button onclick="myFunction()">Click me!</button>


{% if latest_ads_list %}
<ul>
  {% for ad in latest_ads_list %}
  <li><a href="{% url 'classified_ads:detail' ad.id %}">{{ ad.text }}</a>
    Posted on: {{ ad.date_posted }} by {{ ad.user.username }}</li>
  {% endfor %}
</ul>
{% else %}
<p>No ads have been posted.</p>
{% endif %}

{% if user.is_authenticated %}
<b>Post an ad</b>
<form action="{% url 'classified_ads:index'%}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ ad_form.as_div }}
  <input type="submit" value="Post">
</form>

{% else %}
You cannot post ads without logging in.
{% endif %}

{% endblock content %}